body {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.box {
    width: 300px;
    height: 300px;

    &--red {
        background-color: red;
    }

    &--blue {
        background-color: blue;
    }
}

a {
    display: block;
}

.testing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
